

 <div class="container-fluid">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3 all-member-label fw-semibold fs-3">All Member</div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
          
              <div class="col-12 col-md-4 mb-2 mb-md-0">
                <form action="" class="d-flex">
                  <input
                    type="text"
                    class="form-control"
                    id="search"
                    placeholder="Search Member"
                  />
                </form>
              </div>

              <div class="col-4"></div>


              <div class="col-lg-4 col-md-4 text-center text-md-end mb-2 mb-md-0">
                <button class="btn btn-success" (click)="openModal()">
                  Add New Member
                </button>
              </div>
            </div>
          </div>

          <div class="card-body">
   
            <table class="table table-striped mb-0">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col" class="email-col">Member Name</th>
                  <th scope="col" class="email-col">Member Email</th>
                  <th scope="col" class="age-col">Age</th>
                  <th scope="col" class="action-col">Action</th>
                </tr>
              </thead>
              <tbody>
      
                <tr *ngFor="let student of students">
                  <th scope="row">{{ student.id }}</th>
                  <td>{{ student.name }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.age }}</td>
                  <td>
                    <button style="background: none; border: none; padding: 0; cursor: pointer; margin-left: auto;">
                      <img width="30" height="30" src="https://img.icons8.com/fluency/48/delete-forever.png" alt="delete-forever" (click)="openModalDelete(student.id)"/>
                    </button>
                    <button style="background: none; border: none; padding: 0; cursor: pointer; margin-left: auto;" (click)="openModalUpdate(student)">
                      <img width="30" height="30" src="https://img.icons8.com/fluency/48/installing-updates.png" alt="installing-updates">
                    </button>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fa-solid fa-list-check fa-lg"></i> Add Member
        </h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="onCloseHandled()"
          style="background: none; border: none; padding: 0; cursor: pointer; margin-left: auto;"
        >
          <img height="25" width="25" src="https://img.icons8.com/color/48/delete-sign--v1.png" alt="delete-sign--v1"/>
        </button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #memberForm="ngForm">
          <div class="mb-2 custom-form-group">
            <label for="name" class="form-label">
              <i class="fas fa-thumbtack"></i> Name
            </label>
            <input
              type="text"
              class="form-control custom-input"
              id="name"
              [(ngModel)]="newMember.name"
              name="name"
            />
          </div>

          <div class="mb-2 custom-form-group">
            <label for="email" class="form-label">
              <i class="fas fa-thumbtack"></i> Email
            </label>
            <input
              type="email"
              class="form-control custom-input"
              id="email"
              [(ngModel)]="newMember.email"
              name="email"
            />
          </div>
          <div class="mb-2 custom-form-group">
            <label for="age" class="form-label">
              <i class="fas fa-thumbtack"></i> Age
            </label>
            <input
              type="Number"
              class="form-control custom-input"
              id="age"
              [(ngModel)]="newMember.age"
              name="age"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-success" (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayDelete }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
        <img width="200px" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFNt3v6ep-AIGowqDTyb2DiQYRh1SEwUIDfQ&s" alt="break" style="margin-bottom: 20px;" />
        <h4>Are you sure you want to delete?</h4>
        <p>If you delete this member, this action cannot be undone.</p>
      </div>
      <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-success" (click)="deleteStudent()">
          Yes, Delete it
        </button>
        <button type="button" class="btn btn-danger" (click)="onCloseHandledDelete()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Update Member Modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: displayUpdate }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fa-solid fa-pencil-alt fa-lg"></i> Update Member
        </h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="onCloseHandledUpdate()"
          style="background: none; border: none; padding: 0; cursor: pointer; margin-left: auto;"
        >
          <img height="25" width="25" src="https://img.icons8.com/color/48/delete-sign--v1.png" alt="delete-sign--v1"/>
        </button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="onUpdate()" #updateForm="ngForm">
          <div class="mb-2 custom-form-group">
            <label for="updateName" class="form-label">
              <i class="fas fa-thumbtack"></i> Name
            </label>
            <input
              type="text"
              class="form-control custom-input"
              id="updateName"
              [(ngModel)]="selectedStudent.name"
              name="name"
            />
          </div>

          <div class="mb-2 custom-form-group">
            <label for="updateEmail" class="form-label">
              <i class="fas fa-thumbtack"></i> Email
            </label>
            <input
              type="email"
              class="form-control custom-input"
              id="updateEmail"
              [(ngModel)]="selectedStudent.email"
              name="email"
            />
          </div>

          <div class="mb-2 custom-form-group">
            <label for="updateAge" class="form-label">
              <i class="fas fa-thumbtack"></i> Age
            </label>
            <input
              type="number"
              class="form-control custom-input"
              id="updateAge"
              [(ngModel)]="selectedStudent.age"
              name="age"
            />
          </div>
        </form>
      </div>

      <div class="modal-footer" style="display: flex; justify-content: center; align-items: center;">
        <button type="button" class="btn btn-success" (click)="onUpdate()">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
